.card {
    
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;

    &__side {
        height: 40rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-grey-gradient-1, $color-grey-gradient-2);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &-4 {
                background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark);
            }

            &-5 {
                background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark);
            }

            &-6 {
                background-image: linear-gradient(to right bottom, $color-purple-light, $color-purple-dark);
            }

            &-7 {
                background-image: linear-gradient(to right bottom, $color-turquoise-light, $color-turquoise-dark);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 85%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../../assets/images/gif-tastic.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-grey-gradient-1, $color-grey-gradient-2), url(../../assets/images/music.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../../assets/images/train.jpg);
        }

        &--4 {
            background-image: linear-gradient(to right bottom, $color-green-light, $color-green-dark), url(../../assets/images/word.jpg);
        }

        &--5 {
            background-image: linear-gradient(to right bottom, $color-red-light, $color-red-dark), url(../../assets/images/crystal.jpg);
        }

        &--6 {
            background-image: linear-gradient(to right bottom, $color-purple-light, $color-purple-dark), url(../../assets/images/movie.jpg);
        }

        &--7 {
            background-image: linear-gradient(to right bottom, $color-turquoise-light, $color-turquoise-dark), url(../../assets/images/liri.jpg);
        }
    }

    &__heading {
        transform: translateY(-50%);
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom,
             rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-grey-gradient-1, .85), 
            rgba($color-grey-gradient-2, .85));
        }
        
        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
        
        &--4 {
            background-image: linear-gradient(to right bottom,
            rgba($color-green-light, .85),
            rgba($color-green-dark, .85));
        }

        &--5 {
            background-image: linear-gradient(to right bottom,
            rgba($color-red-light, .85),
            rgba($color-red-dark, .85));
        }

        &--6 {
            background-image: linear-gradient(to right bottom,
            rgba($color-purple-light, .85),
            rgba($color-purple-dark, .85));
        }

        &--7 {
            background-image: linear-gradient(to right bottom,
            rgba($color-turquoise-light, .85),
            rgba($color-turquoise-dark, .85));
        }
    }

    &__details {
        padding-top: 0;
        padding: 3rem;
        transform: translateY(-25%);

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }

        //FRONT SIDE STYLING
    }
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-value {
        font-size: 2rem;
        font-weight: 100;
    }
}